.task-incompleted {
    cursor: pointer;
    width: 20px;
}

li {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 12px;
    align-items: center;
    border: 4px;
    height: 40px;
    padding: 0px 10px;
    border-radius: 8px;
    cursor: default;
    font-size: 20px;
    color: rgb(192, 192, 192);
}

li:hover {
    background-color: #50555c;
}   

.delete-button {
    width: 20px;
    cursor: pointer;
    /* display: none; */
}