.input-container {
    display: flex;
    justify-content: center;
}

.input {
    width: 230px;
    height: 35px;
    border-radius: 6px;
    outline: none;
    text-align: center;
    border-style: none;
    background-color: rgb(49, 49, 49);
    color: gray;
    font-family: 'Istok Web', sans-serif;
    font-size: 18px;
}

.input::placeholder{
    text-align: center;
}
