/*          Fonts Availables

  font-family: 'Istok Web', sans-serif;
  font-family: 'Martel Sans', sans-serif;
  font-family: 'Quattrocento Sans', sans-serif; */

html, body {
  max-width: 100%;
  overflow-x: hidden; 
}

body {
  background: #1f1f1f;
}

#root {
  display: grid;
  place-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  background-color: #1f1f1f;
  border-radius: 4px;
  font-family: 'Quattrocento Sans', sans-serif;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 530px) {
  .app-container {
    width: 460px;
    box-shadow: none;
  }
}

@media (max-width: 500px) {
  .app-container {
    width: 420px;
  }
}

@media (max-width: 461px) {
  .app-container {
    width: 400px;
  }
}

@media (max-width: 435px) {
  .app-container {
    width: 380px;
  }
}

@media (max-width: 325px) {
  .app-container {
    width: 350px;
  }
}

